<h1>Notes Types</h1>

<form [formGroup]="notesTypeForm" (ngSubmit)="onSubmit()">

  <label>
    Id:
    <input type="number" formControlName="id" disabled="disabled">
  </label>

  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && notesTypeForm.controls.name.errors" class="error">
      <div *ngIf="notesTypeForm.controls.name.errors.required">The name is required</div>
    </div>
  </label>

  <input type="submit" value="New">
  <input type="submit" value="Save">
</form>


<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let noteType of noteTypes">
        <td>{{noteType.id}}</td>
        <td>{{noteType.name}}</td>
        <td><input type="submit" (click)="update(noteType)"></td>
      </tr>
    </tbody>
  </table>
</div>