<h1>Notes Type</h1>

<!--form [formGroup]="notesTypeForm" (ngSubmit)="onSubmit()">
    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
        Name:
        <input type="text" formControlName="name">
        <div *ngIf="submitted && notesTypeForm.controls.name.errors" class="error">
            <div *ngIf="notesTypeForm.controls.name.errors.required">The name is required</div>
        </div>
    </label>

    <input type="submit" value="Send message" class="cta">

</form>

<div *ngIf="submitted" class="results">
    <strong>Name:</strong>
    <span>{{ notesTypeForm.controls.name.value }}</span>
</div-->





<div class="col-md-6 user-container">
    <h2 style="margin: auto">Notes Types</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let noteType of noteTypes">
        <td>{{noteType.id}}</td>
        <td>{{noteType.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>